.review {
  background-color: rgba(38, 12, 237, 0.026);
}
.footer {
  background-color: rgba(255, 255, 255, 0.228);
}
.contact {
  border-bottom: 2px solid black;
  border-radius: 10px;
}
.carosal img {
  height: 90vh;
}
.carosal h5 {
  font-size: 50px;
  font-weight: 700;
}

.carosal p {
  font-size: 20px;
}
/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.25rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6d76fabe;
  color: #fff;
}

i {
  transition: transform 0.5s ease;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.home,
.html,
.angular,
.js,
.about-us,
.contact {
  padding: 1rem 0;
}

.navbar-links,
.navbar-search {
  display: flex;
  gap: 2rem;
}

.html,
.js,
.html-js-link {
  position: relative;
}

.html:hover .html-chevron,
.js:hover .js-chevron {
  transform: rotate(-180deg);
}

.html-js-link:hover i {
  transform: rotate(-90deg);
}

.html-sub-menu,
.js-sub-menu,
.html-js-sub-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 3.45rem;
  left: -5%;
  background-color: #6d76fabe;
  width: 110%;
}

.html-sub-menu li,
.js-sub-menu li,
.html-js-sub-menu li {
  padding: 0.75rem;
}

.html:hover .html-sub-menu,
.js:hover .js-sub-menu {
  display: flex;
}

.html-sub-menu:hover .html-sub-menu {
  display: flex;
}

.html-js-sub-menu {
  top: 5rem;
  left: 9rem;
}

.html-sub-menu li:nth-child(3):hover .html-js-sub-menu {
  display: flex;
}

.html-sub-menu:hover i {
  transform: rotate(-90deg);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 3px;
}

.login-box a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: 0.375s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}
